/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

/*HEADER SECTION*/
.main-header , .main-footer{
	height: 76px;
	background: #FFFFFF;
	border-bottom: 1px solid #F8E0FB;
}
.main-footer{
	margin-top: 150px;
	border: none;
}
.main-header__grid, .main-footer__grid{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
}

.main-nav ul {
	float: left;
}
.main-nav li{
	display: flex;
	float: left;
	margin-right: 8px;
}
.main-nav a{
	text-decoration: none;
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	opacity: 0.5;
	padding: 12px;
}
/*HERO SECTION */
.bg{
	
	background: url(/assets/Hero.png) no-repeat;
	background-size: 100% 100%;
}

.hamburger{
	display: none;
}

.hero{
	width: 100%;
	height: 574px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__info{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding:80px 292px;
}
.hero__title{
width: 756px;
height: 192px;
margin-bottom: 32px;

font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
color: #000000;
text-shadow: -5px 5px 0px #FFFFFF;

}
.hero__text{
	width: 760px;
	height: 48px;
	margin-bottom: 32px;
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #532C59;

}

.main-nav--dropdown {
	display: flex;

}
.main-nav--dropdown:after {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    content: " ";
    background: url('../assets/dropdownIcon.png') no-repeat center;
    background-size: 100%;
    width: 20px;
	height: 20px;
	margin-left: 12px;
	
	

 }


.hero__btn {
	display: inline-block;
	width: 114px;
	height: 52px;
	background: #532C59;
	border-radius: 15px;
	text-decoration: none;
	padding-top: 14px;

	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;

}
/*LOGOS SECTION*/
.logos__featured{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 60px;
	gap: 30px;
	 margin-bottom: 40px;
}

.logos img{
	width: 150.07px;
height: 40px;
}





/*GRID SECTION*/
.grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.grid-parent img{
	height: 396px;
	width: 412px;
}
.grid-parent__subtitle{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	margin-top: 16px;
}
.grid-parent__text{
	width: 412px;
	height: 40px;
	font-family: 'Space Grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #532C59;
	margin-top: 12px;
}
.grid__subtitle{
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	margin-bottom: 16px;

}
.text{
	width: 820px;
	height: 48px;

}
.grid__text{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 64px;
}


/* TEAM SECTION */

.team {
	margin-top: 80px;
	padding: 80px 0;
}

.block {
	padding-left: 222px;
	padding-right: 222px;
	padding-bottom: 80px;
}

.team__content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.team__title {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
}

.team__text {
	font-family: 'Space Grotesk';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #532C59;
}

.team__grid {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.team__member {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 301px;
	height: 156px;
}

.team__member-name {
	font-family: 'Space Grotesk';
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
}

.team__member-text {
	font-family: 'Space Grotesk';
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #532C59;
}

/* TEAM SECTION END */

/* FEATURES SECTION */

.features {
	padding-top: 80px;
	padding-bottom: 104px;
}

.block {
	padding-left: 222px;
	padding-right: 222px;
	padding-bottom: 80px;
}

.features__content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.features__title {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
}

.features__text {
	font-family: 'Space Grotesk';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #532C59;
}

.features__grid {
	display: flex;
	gap: 32px;
}

.features__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 301px;
	height: 200px;
}

.features__name {
	font-family: 'Space Grotesk';
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.features__name-text {
	font-family: 'Space Grotesk';
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #532C59;
	text-align: center;
}

/* FEATURES SECTION END */

.testimonials__tweets {
	border: 1px solid #D6BCFA;
    border-radius: 10px;
	padding: 24px;
	margin-bottom: 20px;
}
.testimonials__tweets__first {
	display: flex;
	align-items: center;
}

.testimonials {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	position: relative;
	-webkit-mask-image: linear-gradient(black,transparent);

}


.testimonials__name{
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	
}
.testimonials__title{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #000000;
	margin-bottom: 80px;
}
.testimonials__username {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	opacity: 0.5;
}

.testimonials__tweets__second {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #532C59;
}

.questions {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 32px;
	
}

.questions__title {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 64px;
	color: #000000;
	margin-bottom: 24px;


}

.questions__paragraf {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #532C59;

}

.questions__question {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	padding-right: 32px;
	gap: 12px;
	border: 1px solid #D6BCFA;
	border-radius: 15px;
	margin-bottom: 24px;

}

.questions__question p {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	opacity: 0.8;
}

.questions__question span {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #532C59;
}

.questions__question::after {
	content: url('../assets/downarrow.svg');
	position: absolute;
	top: 25px;
	right: 0;
	padding-right: 20px;
}

.questions__question:hover {
	border: 2px solid #D6BCFA;
}

.questions__question:hover::after{
	content: url('../assets/uparrow.svg');
	position: absolute;
	top: 25px;
	right: 0;
	padding-right: 20px;
}

.sellyournfts {
	margin-top: 80px;
	background: #FCFAFF;
	border: 1px solid #D6BCFA;
	box-shadow: inset 0px 0px 50px #F8E0FA;
	border-radius: 60px;
	display: flex;
}
.sellyournfts__middle
 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }

 .sellyournfts__title {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #000000;
	margin-bottom: 16px;
 }

 .sellyournfts__paragraf{
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #532C59;
	margin-bottom: 32px;
 }
 .sellyournfts__btn {
	color: white;
	text-decoration: none;
	background: #532C59;
	border-radius: 15px;
	padding:16px 20px;
	font-family: 'Syne';
	font-style: normal;

 }
 .line, .line1{
	margin-top: 40px;
	margin-bottom: 40px;
width: 1200px;
height: 1px;
background-color: #CCD5DF;
}
.line1{
	visibility: hidden;
}
.main-footer__text{
	width: 1300px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;
color: #000000;
opacity: 0.5;

}
@media (max-width:767px) {
	body {
		width: 100vw;
	}
	/*HEADER SECTION */
	
	.container {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
	  }
.bg{
	width: 100%;
	height: 768px;	
}
   .main-header__grid{
	display: grid;
	align-items: center;
	justify-content: center;

	
  }
  .main-header .main-nav{
	display: none;
  }
  .hamburger{
	position: absolute;
	display: inline;
	padding:24px 32px;
  }

  /*HERO SECTION */
.hero{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding:0 20px;
}
.hero__info{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 20px;
}
  .hero__title{
width: 288px;
height: 168px;
font-weight: 700;
font-size: 36px;
line-height: 56px;
text-align: center;
margin-bottom: 16px;


  }
  .hero__text{
width: 288px;
height: 120px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
  }
  .hero__btn{
	margin-top: 24px;
  }






	  /*LOGOS SECTION*/

.logos__featured img{
	width: 85.33px;
	height: 24px;

}
.wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.logos__featured{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-start;
flex-direction: column;
padding:0 30px;
margin-bottom: 64px;
width: 320px;
height: 128px;


}







	
	/*GRID SECTION*/
	.grid__subtitle{
		width: 288px;
		height: 96px;
	}
	.grid__text{
		width: 288px;
		height: 100px;

	}
	.grid-parent img{
		width: 288px;
		height: 396px;
	}
	.grid{
		height: 1900px;
		width: 320px;
		margin-bottom: 3300px;

	}
	.grid-parent{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.grid-parent__subtitle{
		width: 288px;
		height: auto;
		font-weight: 600;
		font-size: 24px;
	}
	.grid-parent__text{
		width: 288px;
		height: 36px;
		font-weight: 400;
		font-size: 12px;
	}
	.block1{
		margin-left: 7%;
	}
	.grid-parent__item{
		margin-top: 16px;
	}
	.testimonials__title {
		align-items: center;
		font-size: 38px;
		line-height: 64px;
	
	}
	.testimonials__tweets {
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
	}
	.testimonials {
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
	}
	.questions {
		grid-template-columns: 1fr;
		align-items: center;
		
	}


	.questions__question , .questions__title,.questions__paragraf{
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
	}
	.questions__title,.questions__paragraf {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.questions__question p{
		font-weight: 500;
		font-size: 15px;
		line-height: 26px;
		padding-right: 20px;
	}

	.aaa{
		display: none;
	}

	/* TEAM SECTION */
	.block {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 48px;
	}
	.team {
		padding: 48px;
	}
	.team__title {
		font-size: 36px;
	}
	.team__text {
		font-size: 14px;
	}
	.team__grid {
		display: grid;
		grid-template-columns: 136px 136px;
		height: 334px;
	}
	.team__member {
		gap: 8px;
		width: 136px;
		height: fit-content;
		align-items: center;
	}
	.team__member-name {
		font-weight: 500;
		font-size: 20px;
		line-height: 26px;
	}
	/* FEATURES SECTION */
	.features {
		padding: 48px;
		padding-bottom: 96px;
	}
	.features__title {
		font-size: 36px;
	}
	.features__text {
		font-size: 14px;
	}
	.features__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}
	.features__column {
		gap: 8px;
		width: 288px;
		height: fit-content;
	}
	.feature__name {
		font-weight: 500;
		font-size: 20px;
		line-height: 26px;
	}
	.features__name-text {
		font-size: 12px;
		line-height: 18px;
	}
	.sellyournfts__screen1{
		display: none;
	}
	.testimonials {
		grid-template-columns: 1fr;
	}

	.sellyournfts__screen2{
		display: none;
	}
	.sellyournfts {
		padding-top: 40px;
		padding-bottom:40px;
	}
	/*FOOTER SECTION*/
	.main-footer {
		display: flex;
		flex-direction: row;
		grid-template-rows: 1fr 1fr;
		/* width: 100%; */
		margin-top: -93px;

	}
	.line1{
		visibility: visible;
		margin-left: -115px;
	}
	.line{
		margin-left: 10px;
	}
	.line1, .line{
		width: 288px;
		height: 1px;
	}
	
	.main-nav{
		margin-top: 200px;
	}
	.main-nav ul{
		margin-left: 10px;
	}
	.nav-footer2 ul{
		margin-left: -90px;
	}
	.logo img{
		margin-left: -50px;
		margin-bottom: -20px;
	}
	.main-footer{
		margin-left: 30px;
	}
	
}

@media (min-width:768px) and (max-width:1024px) {
	/*HEADER SECTION */

	.container {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
	  }
	  .bg{
		width: 100%;
		height: 870px;
		
	
}
	  .main-header__grid{
		display: grid;
		align-items: center;
		justify-content: center;
	  }
	  .main-nav{
		display: none;
	  }
	  .hamburger{
		position: absolute;
		display: inline;
		padding:24px 32px;
	  }
	  
	  .sellyournfts {
		margin-top: 500px;
		padding-bottom: 30px;
	  }
/*LOGOS SECTION*/
.wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.logos__featured{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin-bottom: 64px;
width: 704px;
height: 160px;

}

	.text{
		width: 770px;
		height: 48px;
	}
	.grid-parent__item img{
		width: 240.67px;
		height: 396px;

	}

	.grid-parent__item .grid-parent__subtitle{
		width: 240.67px;
		height: 32px;
		font-size: 24px;
		line-height: 32px;
		height: auto;

	}
	.grid-parent__text{
		width: 240.67px;
		height: 60px;
	}
	.text{	
		width: 770px;
		height: 48px;
	}
	.questions__row:last-child,.questions__title,.questions__paragraf{
		display: inline-block;
		margin-left: 10px;
	}
	.questions__question p{
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		padding-right: 20px;
	}
	
	.firstrow{
		margin-left: 10px;
	}
	.lastrow{
		margin-right: 10px;
	}
	.questions {
		position: relative;
		grid-template-columns: 1fr 1fr;
	}
	.lastquestions-row {
		position: absolute;
		bottom: -400px;
		right: 0;
	}

	/* TEAM SECTION */
	.block {
		padding: 64px 32px 64px 32px;
	}
	.team {
		padding: 0;
	}
	.team__member {
		width: 174.5px;
		height: fit-content;
	}
	.team__member-name {
		white-space: nowrap;
	}
	/* FEATURES SECTION */
	.features {
		padding-top: 96px;
		padding-bottom: 128px;
	}
	.features__grid {
		flex-wrap: wrap;
		gap: 40px;
		padding-left: 32px;
		padding-right: 32px;
	}
	.features__column {
		flex: 40%;
		padding: 16px;
	}
	.features__name {
		font-size: 28px;
	}
	
	.line, .line1{
		width: 700px;
		height: 1px;
	}
	
	.main-footer__cr{
		display: flex;
		justify-content: center;
		width: 770px;
		height: 20px;
	}
	.nav-footer1{
		display: flex;
		order: 1;
	}
	.main-footer .main-nav{
		display: flex;
		order: 1;
	}
	.main-footer{
		width: 700px;
		height: 40px;
	}
	.main-footer .main-nav ul li a{
		margin-left: -15px;
	}
	.main-footer .nav-footer1 {
		margin-right: -40px;
	}
	.main-footer{
		margin-left: 50px;
	}
}